<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book edit</title>
</head>
<body>
<h3>Edit book</h3>
<form th:action="@{/book/create}" th:object="${book}" th:method="post">
    <label>Id
        <input type="text" th:field="*{id}"/>
    </label><br>
    <label>Name
        <input type="text" th:field="*{name}"/>
    </label><br>
    <label>Authors
        <input type="text" th:field="*{authors}"/>
    </label><br>
    <label>Genres
        <input type="text" th:field="*{genres}"/>
    </label><br>

    <h2 th:text="${message}">message</h2>
    <button type="submit">Edit</button>

</form>
</body>
</html>